[include mainsail.cfg]
[include smart_macros.cfg]

#####################################################################
#                         Layer Calibration                         #
#####################################################################
[sentient_first_layer]
calibration_x: 30
calibration_y: 30
calibration_size: 40
iterations: 3
tolerance: 0.01
layer_height: 0.20

#####################################################################
#                         MCU                                       # 
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_170019001651313338343730-if00

[mcu EBB36]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_590021000450315741363420-if00

[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_430046000C50315447313620-if00
restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu

#####################################################################
#                        X/Y Stepper Settings                       # 
#####################################################################
#   A Motor ---- Motor B 
#   |                  |
#   |-----extruder-----|
#   |                  |
#   |                  |

[stepper_x]
step_pin: PE0
dir_pin: !PG3
enable_pin: !PG4 
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^EBB36: PA15
position_min: 0
position_endstop: 395
position_max: 395
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true
step_pulse_duration: 0.000004

[tmc5160 stepper_x]
cs_pin: PG2
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
run_current: 1.0
interpolate: False
sense_resistor: 0.033
stealthchop_threshold: 0
driver_DISS2G: 1
driver_DISS2VS: 1

[stepper_y]
step_pin: PE1
dir_pin: PF0
enable_pin: !PC15            
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: !PG12
position_min: 0
position_endstop: 375
position_max: 375
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true
step_pulse_duration: 0.000004

[tmc5160 stepper_y]
cs_pin: PF1
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
run_current: 1.0
interpolate: False
sense_resistor: 0.033
stealthchop_threshold: 0
driver_DISS2G: 1
driver_DISS2VS: 1

#####################################################################
#                        Z Stepper Settings                         #
#####################################################################
#   |----- Z1 -----|
#   |              |
#   |              |
#   |              |
#   Z0------------Z2

[stepper_z]
step_pin: PE2
dir_pin: PC5
enable_pin: !PF11
rotation_distance: 2
microsteps: 32
endstop_pin: probe:z_virtual_endstop  
position_min: -10
position_max: 400
homing_speed: 3
second_homing_speed: 3
homing_retract_dist: 0
step_pulse_duration: 0.000004

[tmc2209 stepper_z]
uart_pin: PC4
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PE3
dir_pin: PF13
enable_pin: !PF14
rotation_distance: 2
microsteps: 32
step_pulse_duration: 0.000004

[tmc2209 stepper_z1]
uart_pin: PF12
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PE4
dir_pin: PG0
enable_pin: !PG1
rotation_distance: 2
microsteps: 32
step_pulse_duration: 0.000004

[tmc2209 stepper_z2]
uart_pin: PF15
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#                        Extruder                                   #
#####################################################################
[extruder]
step_pin: EBB36: PB14
dir_pin: !EBB36: PA8
enable_pin: !EBB36:PB6
microsteps: 16
rotation_distance: 3.6288
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: -200
pullup_resistor: 2200
heater_pin: EBB36: PB4
max_temp: 410
sensor_type: PT1000
sensor_pin: EBB36: PA3
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: EBB36:PB3

interpolate: false
run_current: 0.650
stealthchop_threshold: 999999

#####################################################################
#                         Fan configuration                         # 
#####################################################################
[multi_pin part_cooling_pins]
pins: EBB36:PD3, EBB36:PD2

[fan]
pin: multi_pin:part_cooling_pins
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: EBB36: PA5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50
fan_speed: 1.0

[heater_fan controller_fan]
pin: PA2
max_power: 1.0
kick_start_time: 0.5
heater: heater_bed
heater_temp: 50
fan_speed: 1.0

[heater_fan exhaust_fan]
pin: PA3
max_power: 1.0
kick_start_time: 0.5
heater: heater_bed
heater_temp: 70
fan_speed: 1.0

[controller_fan mcu_fan_Board]
pin: PA0
max_power: 1.0
kick_start_time: 0.5

[controller_fan mcu_fan_Steppers]
pin: PA1
max_power: 1.0
kick_start_time: 0.5

#####################################################################
#                  Idle timeout                                     #
#####################################################################
[idle_timeout]
timeout: 1800

#####################################################################
#                       Printer / Kinematics                        #
#####################################################################
# Input shaper calibration results:
#   X: 2hump_ei @ 75.2 Hz  -> max recommended accel ~8500
#   Y: mzv      @ 39.6 Hz  -> max recommended accel ~4200
# Conservative limit set to 8000 - safe per input shaper results
[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 4300
max_z_velocity: 5
max_z_accel: 250
square_corner_velocity: 5.0

#####################################################################
#                         Heated Bed                                # 
#####################################################################
[heater_bed]
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PF10
max_power: 1.0
min_temp: 0
max_temp: 112

#####################################################################
#	Voltage Monitor
#####################################################################
[adc_temperature 5V_Monitor]
temperature1: 5
voltage1: 3.0
temperature2: 4
voltage2: 2.4
temperature3: 3
voltage3: 1.8

[adc_temperature 24V_Monitor]
temperature1: 24
voltage1: 3.13
temperature2: 22
voltage2: 2.87
temperature3: 21
voltage3: 2.74

#####################################################################
#                         Temp Sensors                              #
#####################################################################
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB36:PA0   
pullup_resistor: 2200

[temperature_sensor enclosure_temp]
sensor_type: SHT3X
i2c_address: 68
i2c_mcu: host
i2c_bus: i2c.1

#####################################################################
##                        Cartographer / Probe                     ##
#####################################################################
[cartographer]
mcu: cartographer
x_offset: 0
y_offset: -32
verbose: yes

#####################################################################
#                            ADXL / Input Shaper                   #
#####################################################################
[adxl345]
cs_pin: cartographer:PA0
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    190, 175, 20

[input_shaper]

#####################################################################
#                              Bed Mesh                             #
#####################################################################
[bed_mesh]
zero_reference_position: 198, 175
speed: 300
horizontal_move_z: 3
mesh_min: 25, 5
mesh_max: 370, 300
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0, 0

#####################################################################
#                             Safe Z Home                          #
#####################################################################
[safe_z_home]
home_xy_position: 198, 175
z_hop: 10

#####################################################################
#                         Z Tilt                                    #
#####################################################################
[z_tilt]
z_positions:
    22, 17
    198, 364
    362, 17
points:
    22, 17
    198, 330
    362, 17
speed: 100
horizontal_move_z: 10
retry_tolerance: 0.0075
retries: 5

#####################################################################
#                         Mainsail / SD                             #
#####################################################################
[virtual_sdcard]
path: /home/nebula/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]

[gcode_arcs]
resolution: 0.1

#####################################################################
#                         Filament Load/Unload                      #
#####################################################################
[gcode_macro LOAD_FILAMENT]
variable_load_distance: 50
variable_purge_distance: 25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity * 60 %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity}
    G1 E{purge_distance} F{speed}
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance: 50
variable_purge_distance: 25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity * 60 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed}
    G1 E-{unload_distance} F{max_velocity}
    _CLIENT_LINEAR_MOVE E=-25 F=600
    RESTORE_GCODE_STATE NAME=unload_state

#####################################################################
#                    PAUSE / RESUME / CANCEL                        #
#####################################################################
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    PAUSE_BASE
    _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
    {% if 'VELOCITY' in params|upper %}
        {% set get_params = ('VELOCITY=' + params.VELOCITY) %}
    {% else %}
        {% set get_params = "" %}
    {% endif %}
    {% if printer.extruder.can_extrude|lower == 'true' %}
        M83
        G1 E{extrude} F2100
        {% if printer.gcode_move.absolute_extrude|lower == 'true' %} M82 {% endif %}
    {% else %}
        {action_respond_info("Extruder not hot enough")}
    {% endif %}
    RESUME_BASE {get_params}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper - park toolhead for PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    {% set z_park_delta = 2.0 %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - z_park_delta) %}
        {% set z_safe = z_park_delta %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    {% if printer.extruder.can_extrude|lower == 'true' %}
        M83
        G1 E-{extrude} F2100
        {% if printer.gcode_move.absolute_extrude|lower == 'true' %} M82 {% endif %}
    {% else %}
        {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
        G91
        G1 Z{z_safe} F900
        G90
        G1 X{x_park} Y{y_park} F6000
        {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
    {% else %}
        {action_respond_info("Printer not homed")}
    {% endif %}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
    {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true' %}
        _TOOLHEAD_PARK_PAUSE_CANCEL
    {% endif %}
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE
    status_ready

#####################################################################
#                         RGB / LEDs                                #
#####################################################################
[neopixel sb_leds]
pin: EBB36: PC7
chain_count: 3
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[gcode_macro _sb_vars]
variable_colors: {
        'logo': {
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
        },
        'nozzle': {
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }
variable_logo_led_name: "sb_leds"
variable_logo_idx: "1"
variable_nozzle_led_name: "sb_leds"
variable_nozzle_idx: "2,3"
gcode:

[gcode_macro _set_sb_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}
    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} red={red} green={green} blue={blue} white={white} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_sb_leds_by_name]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _sb_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _sb_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _sb_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}
    _set_sb_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _set_logo_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _sb_vars"].logo_led_name %}
    {% set idx = printer["gcode_macro _sb_vars"].logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro _set_nozzle_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _sb_vars"].nozzle_led_name %}
    {% set idx = printer["gcode_macro _sb_vars"].nozzle_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro set_logo_leds_off]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_logo_leds red=0 blue=0 green=0 white=0 transmit={transmit}

[gcode_macro set_nozzle_leds_on]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds_by_name leds="nozzle" color="on" transmit={transmit}

[gcode_macro set_nozzle_leds_off]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds_by_name leds="nozzle" color="off" transmit={transmit}

[gcode_macro status_off]
gcode:
    set_logo_leds_off transmit=0
    set_nozzle_leds_off

[gcode_macro status_ready]
gcode:
    _set_sb_leds_by_name leds="logo" color="standby" transmit=0
    _set_sb_leds_by_name leds="nozzle" color="standby" transmit=1

[gcode_macro status_busy]
gcode:
    _set_sb_leds_by_name leds="logo" color="busy" transmit=0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.468357095953584,1.9297358149171018,0.7878857247462205,0.48809788763905204,0.6258737239003419,0.23641302913985374,-0.4580980253076221,-0.1318597619763049,0.3768768553549968,0.1805757016704267
#*# domain = 3.2685361336004006e-07,3.4243073986436574e-07
#*# z_offset = -0.365
#*# reference_temperature = 21.31
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 864
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 58.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.986
#*# pid_ki = 6.019
#*# pid_kd = 32.534
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 59.649
#*# pid_ki = 2.903
#*# pid_kd = 306.447
